/**
* <%= model %>.js
*
* @description :: TODO: You might write a short summary of how this model works and what it represents here.
* @docs        :: http://sailsjs.org/#!documentation/models
*/

module.exports = {
	migrate: "alter",

  attributes: {
	<%= options %>
	id: {
		//description: 'Id',
		type: "integer",
		primaryKey: true,
		autoIncrement: true,
		unique: true
	},
	<%= attributes %>
//End Attributes
    <%= functions %>
  }
};

